In [1]:
import yfinance as yf
import pandas as pd
from finance_utils.utils import *

In [2]:
tsla = yf.download('TSLA', start='2020-01-01')
tsla

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-02,28.299999,28.713333,28.114000,28.684000,28.684000,142981500
2020-01-03,29.366667,30.266666,29.128000,29.534000,29.534000,266677500
2020-01-06,29.364668,30.104000,29.333332,30.102667,30.102667,151995000
2020-01-07,30.760000,31.441999,30.224001,31.270666,31.270666,268231500
2020-01-08,31.580000,33.232666,31.215334,32.809334,32.809334,467164500
...,...,...,...,...,...,...
2024-07-05,249.809998,252.369995,242.460007,251.520004,251.520004,154501200
2024-07-08,247.710007,259.440002,244.570007,252.940002,252.940002,157219600
2024-07-09,251.000000,265.609985,250.300003,262.329987,262.329987,160210900
2024-07-10,262.799988,267.589996,257.859985,263.260010,263.260010,128519400
2024-07-11,263.299988,271.000000,239.649994,241.029999,241.029999,220422800