In [1]:
from finance_utils.backtest import *

In [2]:
start_date = '2018-06-01'
sp500 = yf.download('SPY', start=start_date)

[*********************100%%**********************]  1 of 1 completed

In [3]:
sp500_df = pd.DataFrame()
sp500_df['Price'] = sp500['Adj Close']
sp500_df['Value'] = sp500['Adj Close']
sp500_df['Return'] = sp500['Adj Close'].pct_change()

In [4]:
test_sp500 = Backtest(sp500_df)

Running the backtest...
df & results cleaned, benchmark set to buy & hold
Backtesting completed

In [5]:
test_sp500.results

{'Initial Value': 246.86557006835938,
 'Peak Value': 564.8599853515625,
 'Final Value': 548.989990234375,
 'Max Drawdown': 0.337172675268695,
 'Avg Drawdown': 0.06764294517022769,
 'Calmar Ratio': 1.3801042810627249,
 'Sterling Ratio': 6.879260674186454,
 'Annualised Return': 0.46533345259569786,
 'Volatility': 1.2532568730315312,
 'Sharpe Ratio': 0.3712993422251037,
 'Downside Volatility': 0.8773726535715927,
 'Sortino Ratio': 0.3712993422251037,
 'VaR 95': -0.01843533001051676,
 'VaR 99': -0.034043607499008824,
 'CVaR 95': -0.030290837494799286,
 'CVaR 99': -0.05225566612349516,
 'Alpha': 0.0,
 'Beta': 1.0,
 'R^2': 1.0,
 'Calendar Month Return': Date
 2018-06-30   -0.004027
 2018-07-31    0.034834
 2018-08-31    0.033647
 2018-09-30    0.007681
 2018-10-31   -0.072327
                 ...
 2024-03-31    0.023097
 2024-04-30   -0.038647
 2024-05-31    0.054002
 2024-06-30    0.034437
 2024-07-31    0.006693
 Freq: ME, Name: Monthly Return, Length: 74, dtype: float64,
 'Calendar Year Return': Date
 2018-12-31   -0.072912
 2019-12-31    0.310875
 2020-12-31    0.172353
 2021-12-31    0.305055
 2022-12-31   -0.186464
 2023-12-31    0.267092
 2024-12-31    0.168883
 Freq: YE-DEC, Name: Yearly Return, dtype: float64}

In [7]:
test_sp500.df

                 Price       Value    Return   Benchmark        Peak  Drawdown
Date
2018-06-01  246.865570  246.865570       NaN  246.865570  246.865570  0.000000
2018-06-04  248.038544  248.038544  0.004751  248.038544  248.038544  0.000000
2018-06-05  248.219009  248.219009  0.000728  248.219009  248.219009  0.000000
2018-06-06  250.294281  250.294281  0.008361  250.294281  250.294281  0.000000
2018-06-07  250.267227  250.267227 -0.000108  250.267227  250.294281 -0.000108
...                ...         ...       ...         ...         ...       ...
2024-07-15  561.530029  561.530029  0.002750  561.530029  561.530029  0.000000
2024-07-16  564.859985  564.859985  0.005930  564.859985  564.859985  0.000000
2024-07-17  556.940002  556.940002 -0.014021  556.940002  564.859985 -0.014021
2024-07-18  552.659973  552.659973 -0.007685  552.659973  564.859985 -0.021598
2024-07-19  548.989990  548.989990 -0.006641  548.989990  564.859985 -0.028095

[1543 rows x 6 columns]