In [1]:
from datetime import datetime
from finance_utils.display import *
import yfinance as yf

In [2]:
tickers = ['NVDA', 'AAPL', 'MSFT', 'GOOG']
df = yf.download(tickers, start=datetime(2020, 1, 1), end=datetime(2024, 6, 1))

[*********************100%%**********************]  4 of 4 completed

In [3]:
l = [df[('Close', t)] for t in tickers]
price_df = pd.concat(l, axis=1)

In [4]:
price_df.columns = price_df.columns.get_level_values(1)

In [5]:
price_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1111 entries, 2020-01-02 to 2024-05-31
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NVDA    1111 non-null   float64
 1   AAPL    1111 non-null   float64
 2   MSFT    1111 non-null   float64
 3   GOOG    1111 non-null   float64
dtypes: float64(4)
memory usage: 43.4 KB

In [6]:
# fig, axs = plt.subplots(nrows=len(tickers), ncols=1, figsize=(10, 40))
# for i, ticker in enumerate(tickers):
#     # macd_df = macd()  
#     print(type(price_df.loc[:, ticker]))

macd_df = macd(price_df['NVDA'], ticker_name='NVDA')
macd_list = macd(price_df['NVDA'].tolist(), ticker_name='NVDA')

In [8]:
macd_df

                  NVDA       EMA12      EMA26      MACD  Signal Line
Date
2020-01-02    5.997750    5.997750   5.997750  0.000000     0.000000
2020-01-03    5.901750    5.982981   5.990639 -0.007658    -0.001532
2020-01-06    5.926500    5.974291   5.985888 -0.011596    -0.003545
2020-01-07    5.998250    5.977977   5.986803 -0.008826    -0.004601
2020-01-08    6.009500    5.982827   5.988485 -0.005658    -0.004812
...                ...         ...        ...       ...          ...
2024-05-24  106.469002   96.094360  92.226240  3.868120     2.448566
2024-05-28  113.901001   98.833843  93.831777  5.002065     2.959266
2024-05-29  114.824997  101.294020  95.386831  5.907190     3.548851
2024-05-30  110.500000  102.710325  96.506325  6.204000     4.079881
2024-05-31  109.633003  103.775352  97.478671  6.296681     4.523241

[1111 rows x 5 columns]